<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Chris Cooning</title>
		<meta name="description" content="Chris Cooning - Business & Product Developer" />
		<meta name="keywords" content="Chris Cooning, Product Manager, Product Marketing Manager, Web Developer, Graphic Designer, Business Strategist, Marketing Strategist, Digital Marketer, Creative Technologist, Artist" />
		<meta name="author" content="Chris Cooning"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body id="body" data-ng-app="contactApp">

		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">

					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
									data-target="#navbar_collapse">
								<span class="mask"></span>
								<span class="btn-label">
									<span class="pe-7s-menu"></span>
								</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>about</span></li>
								<li><a data-scroll href="#services_sec"></a><span>skills</span></li>
								<!-- <li><a data-scroll href="#skill_sec"></a><span>depth</span></li> -->
								<li><a data-scroll href="#work_sec"></a><span>work</span></li> 
								<li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>education</span></li>
								<!--
								<li><a data-scroll href="#client_sec"></a><span>clients</span></li>
								<li><a data-scroll href="#achivement_sec"></a><span>endorsement</span></li>
								-->
								<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->

				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">

					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
									<span>
										CHRIS COONING
									</span>
								</a>
							</div>
							<!--	<div class="float-right social-download-wrap">
								<a href="#" class="btn btn-default float-left">
								<span class="mask"></span>
								<span class="btn-label">
								<b>download resume</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
						-->
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">

						<!--Introduction Sec-->
						<section id="intro_content_sec" class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Chris Cooning:<br />
								<span id="typed" class="fancyaf"></span> <br />
								Los Angeles, CA.
							</h1>
							<h6 class="fancyaf">
								about
							</h6>

							<p class="wow fadeInUp" data-wow-duration=".6s">
								All-terrain problem solver: Designing and building marketing technology solutions based off insightful data to increase business ROI since 2006.
							</p><br />

							<p class="wow fadeInUp" data-wow-duration=".6s">
								Solid track record of helping SMBs across full spectrum of industries to evolve and grow.
							</p>

						</section>


						<!--/Introduction Sec-->

						<hr class="separater-hr" />

						<!--WhatIDo Sec-->
						<section id="services_sec" class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6 class="fancyaf" style="animation-delay: .5s">skills</h6>
							<div class="row" style="display:flex;">
								<div class="col-sm-2 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s" style="flex:1;text-align:center;">
									<span class="icon pe-7s-rocket"></span>
									<span class="key-fact">
										PRODUCT LAUNCH
									</span>
								</div>
								<div class="col-sm-2 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s" style="flex:1;text-align:center;">
									<span class="icon pe-7s-speaker"></span>
									<span class="key-fact">
										MARKETING
									</span>
								</div>
								<div class="col-sm-2 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s" style="flex:1;text-align:center;">
									<span class="icon pe-7s-graph1"></span>
									<span class="key-fact">
										ANALYTICS
									</span>
								</div>
								<div class="col-sm-2 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s" style="flex:1;text-align:center;">
									<span class="icon pe-7s-photo"></span>
									<span class="key-fact">
										DESIGN
									</span>
								</div>
								<div class="col-sm-2 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s" style="flex:1;text-align:center;">
									<span class="icon pe-7s-tools"></span>
									<span class="key-fact">
										<span class="key-fact">
											DEVELOPMENT
										</span>
								</div>
							</div>
						</section>
						<!--/WhatIDo Sec-->

						<hr class="separater-hr" />

						<!--Skills Sec
	<section id="skill_sec" class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
		<h6 class="fancyaf" style="animation-delay: 1s">depth</h6>
		<p class="wow fadeInUp" data-wow-duration=".4s">
			(Lack of) Curiosity Killed The Cat.
		</p>
		<p class=" wow fadeInUp" data-wow-duration=".4s">
			Hands on experience across many business functions. Here's a chart to visually represent my spikes - click on axii to dive deeper.
		</p>
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false">Product</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-marketing-tab" data-toggle="pill" href="#pills-marketing" role="tab" aria-controls="pills-marketing" aria-selected="false">Marketing</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-design-tab" data-toggle="pill" href="#pills-design" role="tab" aria-controls="pills-design" aria-selected="false">Design</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-engineering-tab" data-toggle="pill" href="#pills-design" role="tab" aria-controls="pills-engineering" aria-selected="false">Engineering</a>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

			</div>
			<div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">

			</div>
			<div class="tab-pane fade" id="pills-marketing" role="tabpanel" aria-labelledby="pills-marketing-tab">

			</div>
			<div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab">

			</div>
			<div class="tab-pane fade" id="pills-engineering" role="tabpanel" aria-labelledby="pills-engineering-tab">

			</div>
		</div>

		<canvas id="allChart"></canvas>
		<canvas id="prodChart"></canvas>
		<canvas id="markChart"></canvas>
		<canvas id="desChart"></canvas>
		<canvas id="engChart"></canvas>



	</section>
	<!--/Skills Sec-->

						<hr class="separater-hr" />

						<!--Work Sec-->
						<section id="work_sec" class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6 class="fancyaf" style="animation-delay: 1.5s">work</h6>
							<div class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li class="item" data-src="img/dmc-mediasilo.png" data-sub-html="<h6>Digital Media Center</h6><p>SaaS video that platform handled encoding and playback, review and approval, and media management with aplomb, combining enterprise-level security and on-demand watermarking with elegant usability.</p>">
										<a href="">
											<img class="img-responsive" src="img/dmc-mediasilo.png" alt="Image description" />
											<span class="hover-cap">Digital Media Center - SaaS</span>
										</a>
									</li>
									<li class="item" data-src="http://www.youtube.com/watch?v=Pq9yPrLWMyU" data-poster="img/mock2.jpg" data-sub-html="<h6>MODERN WORK</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
											<img class="img-responsive" src="img/mock2.jpg" alt="Image description" />
											<span class="hover-cap">Sales Territory - Mapping Analytics</span>
										</a>
									</li>
									<li class="item" data-src="img/odina-surf-shopify.png" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
											<img class="img-responsive" src="img/odina-surf-shopify.png" alt="Image description" />
											<span class="hover-cap">Odina Surf - Ecommerce</span>
										</a>
									</li>
									<li class="item" data-src="http://vimeo.com/1084537" data-poster="img/mock3.jpg" data-sub-html="<h6>MONOBRANDING</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
											<img class="img-responsive" src="img/mock3.jpg" alt="Image description" />
											<span class="hover-cap">ATT Pro Am - Mobile App</span>
										</a>
									</li>
									<li class="item" data-src="img/mock5.jpg" data-sub-html="<h6>FALL/WINTER</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
											<img class="img-responsive" src="img/mock5.jpg" alt="Image description" />
											<span class="hover-cap">Johnson Vinyard Co. - Web Design</span>
										</a>
									</li>
									<li class="item" data-html="#video1" data-poster="img/mock6.jpg" data-sub-html="<h6>FANTASTIC MAN</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="">
											<img class="img-responsive" src="img/mock6.jpg" alt="Image description" />
											<span class="hover-cap">Selected Work - Art</span>
										</a>
									</li>
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.webm" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->

						<hr class="separater-hr" />

						<!--Experience Sec-->
						<section id="exp_sec" class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6 class="fancyaf" style="animation-delay: 2s">experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>nov 2017 - present</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Marketing Director</span>
													<span class="job-loc">
														McKenna Engineering - Los Angeles, CA
													</span>
													<p class="job-summary p-small">Building strategy, sales funnels, and cross channel campaigns to attract, acquire, retain, and build relationships with customers and manufacturers across a digital landscape.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>May 2016 — Nov 2017</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Web Product &amp; Digital Marketing Consultant</span>
													<span class="job-loc">
														Deepwater Design - Monterey, CA
													</span>
													<p class="job-summary p-small">Crafted web/mobile applications and digital marketing solutions for organizations around best practices within Analysis and Reporting, Targeting and Personalization, Experimental A/B Testing and Optimization, Utilizing the Voice of the Customer, Governance, and Social Strategy.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>Nov 2012 – May 2016</span></div>
												<div class="col-sm-9">
													<span class="job-desn">
														Lead Developer / Product Manager
													</span>
													<span class="job-loc">
														OMG Media Group - Monterey, CA
													</span>
													<p class="job-summary p-small">Established an ecosystem of SaaS applications to support digital marketing campaigns and business operations within the Agricultural, Entertainment Event, Destination Marketing, and Healthcare Industries.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Nov 2010 – Nov 2012</span></div>
												<div class="col-sm-9">
													<span class="job-desn">
														SysAdmin
													</span>
													<span class="job-loc">
														L3 Communications - Monterey, CA
													</span>
													<p class="job-summary p-small">Supported IT operations at Defense Language Institute Foreign Language Center - Curriculum Development division while migrating 6000+ users from .gov to .edu environment.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Nov 2009 – Nov 2010</span></div>
												<div class="col-sm-9">
													<span class="job-desn">
														Junior UI/UX Designer
													</span>
													<span class="job-loc">
														L3 Communications - Monterey, CA
													</span>
													<p class="job-summary p-small">Assisted in creating interfaces and media assets for online learning platform used by 3 letter agencies. Designed for localization to allow multiple RTL and LTR languages including keyboard input support.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>May 2008 – Oct 2009</span></div>
												<div class="col-sm-9">
													<span class="job-desn">
														Business Development Intern
													</span>
													<span class="job-loc">
														Boeing - Huntington Beach, CA
													</span>
													<p class="job-summary p-small">Assisted with business development activities for the US Army's Future Combat Systems (FCS) modernization program by giving product demonstrations and presentations to high ranking US government and military officials.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
						</section>
						<!--/Experience Sec-->

						<hr class="separater-hr" />

						<!--Education Sec-->
						<section id="edu_sec" class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6 class="fancyaf" style="animation-delay: 2.5s">education</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								It starts with a love for learning, fascination with technology, and a deep curiosity of how things work.
							</p>
							<br />

							<p class="wow fadeInUp" data-wow-duration="1s">
								At age 4; my father was an Aerospace Engineer in the US Air Force when he first brought home an IBM 286 computer in 1990. He would write out various DOS commands on Post-it notes so I could play games off 5" floppy disks over a monochrome monitor.
							</p>
							<br />

							<p class="wow fadeInUp" data-wow-duration=".4s">
								<b style="font-weight: 700;">I was hooked...</b>
							</p>
							<br />

							<p class="wow fadeInUp" data-wow-duration=".4s">
								Soon after, the World Wide Web became publicly available and by 1994 I was participating on forum discussions covering topics related to graphic design and web development.
							</p>
							<br />

							<p class="wow fadeInUp" data-wow-duration=".4s">
								I published my first website at age 12, and at 16 was the first time I was comissioned to build a site for a business.
							</p>
							<br />

							<p class="wow fadeInUp" data-wow-duration=".4s">
								<b style="font-weight: 700;">The rest is history...</b>
							</p>
							<br />

							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<!-- <div class="col-sm-2">
					<span class="row-count"><span>1</span></span>
				</div> -->
									<div class="col-sm-3">
										<span class="yr-pers vertical-align-pad">2004-2009</span>
									</div>
									<div class="col-sm-6">
										<span class="insti vertical-align-pad">California State University, Monterey Bay - Monterey, CA</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											B.S. Business Administration
										</span>
									</div>
								</div>

							</div>
						</section>
						<!--/Education Sec

	<hr class="separater-hr" />

	<!--Client Sec
	<section id="client_sec" class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap sec-pad wow bounceIn" data-wow-duration=".4s">
		<h6 class="fancyaf" style="animation-delay: 3s">clients</h6>
		<div class="client-carousel">
			<img src="img/client1.png" alt="client">
			<img src="img/client2.png" alt="client">
			<img src="img/client3.png" alt="client">
			<img src="img/client4.png" alt="client">
			<img src="img/client5.png" alt="client">
			<img src="img/client2.png" alt="client">
		</div>
	</section>
	-- Client Sec-->

						<hr class="separater-hr" />

						<!--Achivement Sec
	<section id="achivement_sec" class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
		<h6 class="fancyaf" style="animation-delay: 3.5s">reviews</h6>
		<p class="wow fadeInUp" data-wow-duration=".4s">It always seems impossible until its done. Participated in more than 100 contests run online and run by government. I got first prize for Logo Design done for a Fashion Brand in 2015, the ceremony held in Germany.</p>
		<div class="achivement-list-wrap margin-top-40">
			<ul class="row">
				<li class="col-sm-6">
					<ul>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
							<span class="dash-pointer">-</span>
							<span class="achive-pts">First Price for Logo Design in Berman Design Award</span>
						</li>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">Honorable Mention at International Design Awards</span></li>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">AICB New York, USA</span></li>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">International CNDY Awards New York, USA</span></li>
					</ul>
				</li>
				<li class="col-sm-6">
					<ul>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">Drix Club des Directeurs Artistiques Paris, France</span></li>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">A&AD Awards (Yellow & Black Pencils) London, UK</span></li>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Global Dffie Awards New York, USA</span></li>
						<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">The Intercontinental Advertising Award (The Cup) (ICAA) Spain</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</section> -->

						<hr class="separater-hr" />

						<!--Contact Sec-->
						<section id="contact_sec" class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6 class="fancyaf" style="animation-delay: 4s">contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Hello <span data-ng-bind="formData.inputName||'friend'"></span>, I'd love to hear from you.</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)" name="contactform" method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span class="mask"></span>
													<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							<!-- <div class="email-direct">
		<p class="wow fadeInRight" data-wow-duration=".4s">Don't like forms? Keep it real and email me direct <a href="mailto:chriscooning@gmail.com">chriscooning@gmail.com</a></p>
	</div> -->
						</section>
						<!--Contact Sec-->

						<hr class="separater-hr" />

						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Available for Freelance Projects.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">

										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="#" class="social-icon">
													<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
										<!--/Social Icons-->

									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="top">
												top
											</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Made with <span class="fancyaf"> &#10084;</span> by <b>Chris Cooning &copy; 2020.</b> Updated <b>April, 2020.</b></p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->

					</div>
					<!--/Main Content-->

				</div>
			</div>
		</div>
		<!-- /Container -->
		<!-- Scripts -->

		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="js/init.js"></script>



	</body>
</html>